.ogloszenie {
  background-color: #fff3c5;
  border: 3px solid black;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
}

.ogloszenie div {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  font-style: oblique;
}

.ogloszenie:hover {
  color: blue;
}

img {
  width: 50%;
  transform: scale(0.9);
  transition: transform 1s ease-in-out;
}

img:hover {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
