.button-basic{
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    color:invert(black,100%);
    font-size: 20px;
    @extend %font;
    transition: .4s;
}

button{
    @extend .button-basic;
    background-color: $button-color;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
    background-color: $transition-color;
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

@function invert($color, $amount: 100%) {
    $inverse: change-color($color, $hue: hue($color) + 180);
    @return mix($inverse, $color, $amount);
}